* {
    cursor: url('cursor.cur'), auto;
    background-color:lightblue;
 }


.title{
    text-align: center;
    display: block;
    margin : 1em 2em 1em 2em;
    color: #ffcb05 ;
    -webkit-text-stroke: 3px #2a75bb;
    font-size: 7em;
}

.containertitle{
     border-bottom: 1em solid #2a75bb;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }



.region{
    flex-direction: row;
    text-align: center;
    margin: 1em;
    color: #ffcb05 ;
    -webkit-text-stroke: 3px #2a75bb;
    font-size: 5em;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    flex-direction: row;
    margin: 2em;
    padding: 1em 10em 10em 10em;
    border: 5px inset white;
    border-radius: 20%;
    box-shadow: 5px 5px lightblue, inset 0px 5px 5px lightblue;
}

.img{
    width: 25em;
    
}

.img:hover{
    animation: 1s infinite bounce;
}

@keyframes bounce{
    0%{transform: translateY(0);}
    50%{transform: translateY(-13px);}
    100%{transform:translateY(0);}
}

.pkmn-name{
    color:#2a75bb;
    text-align: center;
    text-transform: capitalize;
    font-size: 3em;
}

.id{
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    color: #2a75bb;
}

.spec{
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color: grey;
    text-transform: capitalize;
}